* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #F3E0E2;
}

form {
	display: flex;
	width: 70%;
	margin: 0 auto;
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-container-1 {
	width: 50%;
	padding: 3rem;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 2;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.form-container-1 h1 {
	font-size: 2.4rem;
	letter-spacing: 2px;
	font-weight: 900;
	margin-bottom: 3rem;
}

/* icons */

.icons {
	color: #333333;
	margin-bottom: 3rem;
}

.icons i {
	border: 1px solid #DFDFDF;
	border-radius: 50%;
	font-size: 1.4rem;
}

.fa-facebook {
	padding: 0.5rem 0.8rem;
}

.fa-twitter {
	padding: 0.5rem;
}

.account-used {
	margin-bottom: 0.2rem;
}

.user-input, .password-input {
	width: 100%;
	margin-bottom: 1rem;
}

input {
	width: 100%;
	padding: 0.8rem;
	border: none;
	background: #EEEEEE;
}

.forgot-pass a {
	color: #333;
	text-decoration: none;
}

.forgot-pass {
	margin-bottom: 1.5rem;
}

.login-btn-container a {
	text-decoration: none;
	background: #FF4B2B;
	color: #fff;
	border-radius: 40px;
	padding: 0.7rem 2.7rem;
}

.login-btn-container a:hover {
	background: #FF416A;
}

.form-container-2 {
	width: 50%;
	padding: 2rem;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #fff;
	width: 50%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 2;
	background-image: linear-gradient(to right, #FF4B2B, #FF4265);
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}